{#
/**
 * @file
 * Default theme implementation to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 *   - menu_block_configuration: A nested list of config:
 *     - id: ID of menu. Example: az_select_menu:select-menu.
 *     - provider: Plugin responsible for this menu: az_select_menu.
 *     - label_display: "1" or "0"
 *     - label: The menu lable. Example: "Select menu".
 *     - follow: Whether the initial visibility level follows the active menu item.
 *     - follow_parent: Initial visibility level will be.
 *     - level: How many levels to display.
 *     - depth: Max depth.
 *     - az_select_menu:  A nested list of config for az_select_menu:
 *       - empty_option: Boolean Whether or not to show an empty option.
 *       - empty_option_label: The label for the empty option.
 *       - preform_text: Text before the form.
 *       - preform_text_sr_only: Text before the form for screen readers.
 *       - button_text: Button text.
 *       - button_text_sr_only: Button screen reader text.
 *   - form_attributes: HTML attributes for the form
 *   - select_attributes: HTML attributes for the select element
 *   - button_attributes: HTML attributes for the button element
 * @ingroup themeable
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see https://twig.symfony.com/doc/1.x/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0, menu_block_configuration, select_attributes, form_attributes, button_attributes) }}
    {% macro menu_links(items, attributes, menu_level, menu_block_configuration, select_attributes, form_attributes, button_attributes) %}

    <form {{form_attributes}}>
        <div class="input-group az-select-menu-container">
          {% if menu_block_configuration.az_select_menu.preform_text %}
            <span class="input-group-text border-0 bg-transparent">
              <div class="select-menu-label">{{menu_block_configuration.az_select_menu.preform_text}}</div>
            </span>
          {% endif %}
          <label class="visually-hidden select-menu-label-sr" for="{{ select_attributes.id }}">{{menu_block_configuration.az_select_menu.preform_text_sr_only}}</label>
          {% import _self as menus %}
          {% if items %}
            <select {{ select_attributes.addClass('az-select-dropdown').addClass('form-select').addClass('rounded-start') }}>
            {% if menu_block_configuration.az_select_menu.empty_option and menu_block_configuration.az_select_menu.empty_option_label %}
              <option data-href="">{{menu_block_configuration.az_select_menu.empty_option_label}}</option>
            {% endif %}
            {% for item in items %}
              <option data-href="{{item.url}}">{{item.title}}</option>
            {% endfor %}
            </select >
            <button {{button_attributes.addClass('az-select-button').addClass('btn').addClass('btn-primary').addClass('rounded-end')}}>
              {{menu_block_configuration.az_select_menu.button_text}}
              <span class="visually-hidden">{{menu_block_configuration.az_select_menu.button_text_sr_only}}</span>
            </button>
          {% endif %}
      </div>
    </form>

    {% endmacro %}
