{#
/**
 * @file
 * Theme override for horizontal tabs.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The rendered children.
 * - element: The render array for the horizontal tabs element.
 *
 * @see template_preprocess_horizontal_tabs()
 *
 * @ingroup themeable
 */
#}

{% set tabElements = {} %}
{% for key, value in element %}
  {% if key starts with 'group_' and not (key starts with 'group_tabs') and value %}
    {% set tabElements = tabElements|merge({ (key): value }) %}
  {% endif %}
{% endfor %}
{% if tabElements %}
  <div class="mt-4 mb-3 clearfix">
    <ul class="nav nav-tabs az-person-nav-tabs border-bottom-0 rounded-top" role="tablist">
      {% set isFirstTab = true %}
      {% for key, value in tabElements %}
        <li class="nav-item mt-nmin" role="presentation">
          <button class="nav-link{{ isFirstTab ? ' active' }}" id="{{ (key) }}_tab" data-bs-toggle="tab" data-bs-target="#{{ (value['#id']) }}" type="button" role="tab" aria-controls="{{ (value['#id']) }}" aria-selected="{{ isFirstTab ? 'true' : 'false' }}">{{ (value['#title']) }}</button>
        </li>
        {% set isFirstTab = false %}
      {% endfor %}
    </ul>
    <div class="border rounded-bottom rounded-end">
      <div class="tab-content mt-card px-card pb-card">
        {% set activePane = ' show active' %}
        {% for key, value in tabElements %}
          <div class="tab-pane fade{{ activePane }}" id="{{ (value['#id']) }}" role="tabpanel" aria-labelledby="{{ (key) }}_tab" tabindex="0">
            {% for childKey, childValue in value %}
              {% if childKey starts with 'field_' %}
                {{ childValue }}
              {% endif %}
            {% endfor %}
          </div>
          {% set activePane = '' %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}
