{#
/**
 * @file
 * Theme override for a single page.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 * - az_barrio_navbar_offcanvas: A flag indicating if the offcanvas nav is
 *   enabled.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 * - logo: The url of the logo image, as defined in theme settings.
 * - site_name: The name of the site. This is empty when displaying the site
 *   name has been disabled in the theme settings.
 * - site_slogan: The slogan of the site. This is empty when displaying the site
 *   slogan has been disabled in theme settings.

 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.alert: Items for the top header alert region.
 * - page.content: The main content of the current page.
 * - page.content_2_col_1: Items for the first 2-column bottom region.
 * - page.content_2_col_2: Items for the second 2-column bottom region.
 * - page.content_3_col_1: Items for the first 3-column bottom region.
 * - page.content_3_col_2: Items for the second 3-column bottom region.
 * - page.content_3_col_3: Items for the third 3-column bottom region.
 * - page.full_width_content_bottom: Items for the full-width bottom region.
 * - page.content_4_col_1: Items for the first 4-column content bottom region.
 * - page.content_4_col_2: Items for the second 4-column content bottom region.
 * - page.content_4_col_3: Items for the third 4-column content bottom region.
 * - page.content_4_col_4: Items for the fourth 4-column content bottom region.
 * - page.content_bottom: Items for the bottom region.
 * - page.footer: Items for footer content.
 * - page.page_bottom: Items for the very bottom of the page.
 *
 * Theme variables:
 * - content_attributes: Attributes for the content region.
 *
 * @see template_preprocess_page()
 * @see bootstrap_barrio_preprocess_page()
 * @see html.html.twig
 */
#}

<div id="page-wrapper">
  <div id="page">
    <header id="header" class="header" role="banner" aria-label="{{ 'Site header'|t}}">
        {% if page.alert %}
          {{ page.alert }}
        {% endif %}
        <header class="bg-red arizona-header" id="header_arizona" role="banner">
          <div class="{{ container }}">
            <div class="row">
              {% if wordmark %}
              <a class="arizona-logo" href="https://www.arizona.edu" title="The University of Arizona homepage">
                <img class="arizona-line-logo" alt="The University of Arizona Wordmark Line Logo White" src="https://cdn.digital.arizona.edu/logos/v1.0.0/ua_wordmark_line_logo_white_rgb.min.svg"/>
              </a>
              {% endif %}
            </div> <!-- /.row -->
          </div> <!-- /.container -->
        </header>
        <div class="header page-row" id="header_site" role="banner">
          <div class="{{ container }}">
            <div class="row">
              <div class="{{ header_one_col_classes }}">
                {{ page.branding }}
              </div>
            </div> <!-- /.row -->
          </div> <!-- /.container -->
          <div class="container">
            {% if page.help %}
              <div class="row">
                {{ page.help }}
              </div>
            {% endif %}
          </div>
        </div>
    </header>

    <div id="main-wrapper" class="layout-main-wrapper clearfix">
        <div id="main" role="main">
          <div class="{{ container }}">
            <div class="row row-offcanvas row-offcanvas-left clearfix">
              <main{{ content_attributes }}>
                {{ page.content }}
              </main>
            </div>
          </div>
          {{ page.full_width_content_bottom }}
          {% if page.content_2_col_1 or page.content_2_col_2 %}
          <div class="{{ container }}">
            <div class="row">
              {{ page.content_2_col_1 }}
              {{ page.content_2_col_2 }}
            </div>
          </div>
          {% endif %}
          {% if page.content_3_col_1 or page.content_3_col_2 or page.content_3_col_3 %}
          <div class="{{ container }}">
            <div class="row">
              {{ page.content_3_col_1 }}
              {{ page.content_3_col_2 }}
              {{ page.content_3_col_3 }}
            </div>
          </div>
          {% endif %}
          {% if page.content_bottom %}
          <div class="{{ container }}">
            <div class="row">
              {{ page.content_bottom }}
            </div>
          </div>
          {% endif %}
          {% if page.content_4_col_1 or page.content_4_col_2 or page.content_4_col_3 or page.content_4_col_4 %}
          <div class="{{ container }}">
            <div class="row">
                {{ page.content_4_col_1 }}
                {{ page.content_4_col_2 }}
                {{ page.content_4_col_3 }}
                {{ page.content_4_col_4 }}
            </div>
          </div>
          {% endif %}
        </div>
    </div>
    <!-- Is it OK to remove this conditional statement? These regions do not exist in AZ Barrio. -->
    {% if page.featured_bottom_first or page.featured_bottom_second or page.featured_bottom_third %}
      <div class="featured-bottom">
        <aside class="{{ container }} clearfix" role="complementary">
          {{ page.featured_bottom_first }}
          {{ page.featured_bottom_second }}
          {{ page.featured_bottom_third }}
        </aside>
      </div>
    {% endif %}
    <footer class="site-footer">

        {% if page.footer or page.footer_sub or footer_logo %}
        <div class="bg-warm-gray py-5" role="contentinfo">
          {% if page.footer or footer_logo %}
          <section{{ attributes.addClass(classes) }}>
            <div class="container">
              <div class="row">
                {% if footer_logo %}
                  <div class="col-12 col-sm-5 col-md-4 col-lg-4 text-center-xs text-left-not-xs">
                    <div class="row bottom-buffer-30">
                      <div class="col">
                        {{ footer_logo }}
                      </div>
                    </div>
                  </div>
                {% endif %}
                {% if page.footer %}
                  <!-- Force next columns to break to new line at md breakpoint and up -->
                  <div class="w-100 d-block d-sm-none"></div>
                  {{ page.footer }}
                {% endif %}
                <div class="col-12">
                  <hr>
                </div>
              </div>
            </div>
          </section>
          {% endif %}
          {% if land_acknowledgment or info_security_privacy or copyright_notice %}
          <div id="footer_sub"{{ attributes.addClass(classes) }}>
            <div class="container">
              <div class="row">
                <div class="col text-center">
                  {{ land_acknowledgment }}
                  {{ info_security_privacy }}
                  {{ copyright_notice }}
                </div>
              </div>
            </div>
          </div>
          {% endif %}
        </div>
        {% endif %}
    </footer>
    {% if page.az_page_bottom %}
    {{ page.az_page_bottom }}
    {% endif %}
  </div>
</div>
