{#
/**
 * @file
 * Theme override for a main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 */
#}
{%
  set classes = [
    'view',
    'view-' ~ id|clean_class,
    'view-id-' ~ id,
    'view-display-id-' ~ display_id,
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if title %}
    {{ title }}
  {% endif %}
  {{ title_suffix }}
  {% if header %}
    <div class="view-header">
      {{ header }}
    </div>
  {% endif %}
  {% if exposed %}
    <div class="view-filters">
      {{ exposed }}
    </div>
  {% endif %}
  {% if attachment_before %}
    <div class="attachment attachment-before">
      {{ attachment_before }}
    </div>
  {% endif %}

  <div id="az-js-floating-alpha-nav-container" class="position-sticky sticky-top">
    <nav id="az-js-floating-alpha-nav" class="hidden-print az-floating-alpha-nav text-bg-transparent-white mb-3">
      <ul id="az-js-alpha-navigation" class="pagination pagination-sm pagination-square flex-wrap">
        <li class="text-uppercase disabled page-item mt-2 me-2"><a class="page-link" aria-hidden="true" tabindex="-1" data-href="#123">#</a></li>
        <li class="text-uppercase disabled page-item mt-2 me-2"><a class="page-link" aria-hidden="true" tabindex="-1" data-href="#A">a</a></li>
        <li class="text-uppercase disabled page-item mt-2 me-2"><a class="page-link" aria-hidden="true" tabindex="-1" data-href="#B">b</a></li>
        <li class="text-uppercase disabled page-item mt-2 me-2"><a class="page-link" aria-hidden="true" tabindex="-1" data-href="#C">c</a></li>
        <li class="text-uppercase disabled page-item mt-2 me-2"><a class="page-link" aria-hidden="true" tabindex="-1" data-href="#D">d</a></li>
        <li class="text-uppercase disabled page-item mt-2 me-2"><a class="page-link" aria-hidden="true" tabindex="-1" data-href="#E">e</a></li>
        <li class="text-uppercase disabled page-item mt-2 me-2"><a class="page-link" aria-hidden="true" tabindex="-1" data-href="#F">f</a></li>
        <li class="text-uppercase disabled page-item mt-2 me-2"><a class="page-link" aria-hidden="true" tabindex="-1" data-href="#G">g</a></li>
        <li class="text-uppercase disabled page-item mt-2 me-2"><a class="page-link" aria-hidden="true" tabindex="-1" data-href="#H">h</a></li>
        <li class="text-uppercase disabled page-item mt-2 me-2"><a class="page-link" aria-hidden="true" tabindex="-1" data-href="#I">i</a></li>
        <li class="text-uppercase disabled page-item mt-2 me-2"><a class="page-link" aria-hidden="true" tabindex="-1" data-href="#J">j</a></li>
        <li class="text-uppercase disabled page-item mt-2 me-2"><a class="page-link" aria-hidden="true" tabindex="-1" data-href="#K">k</a></li>
        <li class="text-uppercase disabled page-item mt-2 me-2"><a class="page-link" aria-hidden="true" tabindex="-1" data-href="#L">l</a></li>
        <li class="text-uppercase disabled page-item mt-2 me-2"><a class="page-link" aria-hidden="true" tabindex="-1" data-href="#M">m</a></li>
        <li class="text-uppercase disabled page-item mt-2 me-2"><a class="page-link" aria-hidden="true" tabindex="-1" data-href="#N">n</a></li>
        <li class="text-uppercase disabled page-item mt-2 me-2"><a class="page-link" aria-hidden="true" tabindex="-1" data-href="#O">o</a></li>
        <li class="text-uppercase disabled page-item mt-2 me-2"><a class="page-link" aria-hidden="true" tabindex="-1" data-href="#P">p</a></li>
        <li class="text-uppercase disabled page-item mt-2 me-2"><a class="page-link" aria-hidden="true" tabindex="-1" data-href="#Q">q</a></li>
        <li class="text-uppercase disabled page-item mt-2 me-2"><a class="page-link" aria-hidden="true" tabindex="-1" data-href="#R">r</a></li>
        <li class="text-uppercase disabled page-item mt-2 me-2"><a class="page-link" aria-hidden="true" tabindex="-1" data-href="#S">s</a></li>
        <li class="text-uppercase disabled page-item mt-2 me-2"><a class="page-link" aria-hidden="true" tabindex="-1" data-href="#T">t</a></li>
        <li class="text-uppercase disabled page-item mt-2 me-2"><a class="page-link" aria-hidden="true" tabindex="-1" data-href="#U">u</a></li>
        <li class="text-uppercase disabled page-item mt-2 me-2"><a class="page-link" aria-hidden="true" tabindex="-1" data-href="#V">v</a></li>
        <li class="text-uppercase disabled page-item mt-2 me-2"><a class="page-link" aria-hidden="true" tabindex="-1" data-href="#W">w</a></li>
        <li class="text-uppercase disabled page-item mt-2 me-2"><a class="page-link" aria-hidden="true" tabindex="-1" data-href="#X">x</a></li>
        <li class="text-uppercase disabled page-item mt-2 me-2"><a class="page-link" aria-hidden="true" tabindex="-1" data-href="#Y">y</a></li>
        <li class="text-uppercase disabled page-item mt-2 me-2"><a class="page-link" aria-hidden="true" tabindex="-1" data-href="#Z">z</a></li>
      </ul>
    </nav>
  </div>

  <div class="row">
    <div class="col-12 col-md-4">
      <div class="form-group">
        <label for="az-js-alphabetical-listing-search">Search</label>
        <div class="search-form local-search">
          <input class="form-control input-search no-submit-btn" id="az-js-alphabetical-listing-search" type="text" placeholder="Search">
        </div>
      </div>
    </div>
    <div class="col-12">
      <div id="az-js-alphabetical-listing-no-results" style="display:none;">
        <h2>No results</h2>
        <p>There are no results that match your search query. Please try a different selection.</p>
      </div>

    </div>
  </div>

  {% if rows %}
    <div class="view-content mb-5">
      {{ rows }}
    </div>
  {% elseif empty %}
    <div class="view-empty">
      {{ empty }}
    </div>
  {% endif %}

  {% if pager %}
    {{ pager }}
  {% endif %}
  {% if attachment_after %}
    <div class="attachment attachment-after">
      {{ attachment_after }}
    </div>
  {% endif %}
  {% if more %}
    {{ more }}
  {% endif %}
  {% if footer %}
    <div class="view-footer">
      {{ footer }}
    </div>
  {% endif %}
  {% if feed_icons %}
    <div class="feed-icons">
      {{ feed_icons }}
    </div>
  {% endif %}
</div>
