{#
/**
 * @file
 * Theme implementation to display an AZ Accordion.
 *
 * Available variables:
 * - attributes: accordion element attributes.
 * - title: The title field of a accordion..
 * - body: The body field of a accordion.
 * - collapsed: The collapsed field of an accordion.
 * - accordion_item_id: Unique ID for an accordion item.
 * - accordion_container_id: Unique ID for the accordion container.
 * - aria_expanded: Aria field equal to the collapsed value.
 *
 * @ingroup themeable
 */
#}

{% set button_classes = (aria_expanded == 'false') ? 'collapsed' : '' %}

<h3 class="accordion-header">
  <button class="accordion-button {{ button_classes }}" type="button" data-bs-toggle="collapse" data-bs-target="#{{ accordion_item_id }}" aria-expanded="{{ aria_expanded }}" aria-controls="{{ accordion_item_id }}">
    {% if title %}
      {{ title }}
    {% endif %}
  </button>
</h3>
<div id="{{ accordion_item_id }}" class="accordion-collapse collapse {{ collapsed }}" aria-labelledby="{{ accordion_item_id }}" data-bs-parent="#{{ accordion_container_id }}">
  <div class="accordion-body">
    {% if body %}
      {{ body }}
    {% endif %}
  </div>
</div>
