{#
/**
 * @file
 * Theme implementation to display an AZ Accordion.
 *
 * Available variables:
 * - attributes: accordion element attributes.
 * - title: The title field of a accordion..
 * - body: The body field of a accordion.
 * - collapsed: The collapsed field of an accordion.
 * - accordion_item_id: Unique ID for an accordion item.
 * - aria_expanded: Aria field equal to the collapsed value.
 *
 * @ingroup themeable
 */
#}

<div class="accordion-header">
  <h3 class="my-0">
    <button class="accordion-button collapsed" type="button" data-toggle="collapse" data-target="#{{ accordion_item_id }}" aria-expanded="{{ aria_expanded }}" aria-controls="{{ accordion_item_id }}">
      {% if title %}
        {{ title }}
      {% endif %}
    </button>
  </h3>
</div>
<div id="{{ accordion_item_id }}" class="accordion-collapse {{ collapsed }}" aria-labelledby="{{ accordion_item_id }}" data-parent="#{{ accordion_item_id }}">
  <div class="card-body bg-white">
    {% if body %}
    <div class="accordion-body">{{ body }}</div>
    {% endif %}
  </div>
</div>
