{#
/**
* @file
* Default theme implementation to display a calendar add button.
*
* @ingroup themeable
*/
#}
{% set links = calendar_links(title, date(start_date), date(end_date), FALSE, description, location) %}

<div{{ attributes }}>
  {# Button trigger modal #}
  <button type="button" class="btn btn-hollow-primary btn-sm d-flex mr-2" style="text-transform: none" data-toggle="modal" data-target="#{{ modal }}">
    <span aria-hidden="true" class="material-icons-sharp mr-2">event</span>
    <span class="my-auto">{{ 'Add to Calendar'|t }}</span>
  </button>

  {# Modal #}
  <div id="{{ modal }}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="{{ modal }}-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header px-0 mx-3">
          <div>
            <h2 class="h5 modal-title mt-1 mb-2" id="{{ modal }}-label">{{ 'Add Event to Calendar'|t }}</h2>
            <p class="mb-0">{{ title }}</p>
            <p class="mb-0">{{ start_date|date('g:i a, F j, Y') }}</p>
          </div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p class="mb-3">{{ 'Select your calendar type below:'|t }}</p>
          <div class="text-center">
          {% for link in links %}
              <a class="btn btn-hollow-primary btn-sm mb-1 calendar-link-{{ link.type_key }}" target="_blank" href="{{ link.url }}" role="button">{{ link.type_name }}</a>
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
