{#
/**
* @file
* Default theme implementation to display a calendar add button.
*
* @ingroup themeable
*/
#}
{% set attributes = attributes.addClass('clear-both') %}
{# List and order of calendar implementations. #}
{% set calendar_types = {
    'google' : 'Google',
    'ics' : 'iCal File',
    'webOffice': 'Outlook Enterprise (Office 365)',
    'webOutlook': 'Outlook Personal (outlook.com)',
    'yahoo' : 'Yahoo!'
  }
%}

<div{{ attributes }}>
  {# Button trigger modal #}
  <button type="button" class="btn btn-hollow-primary btn-sm d-flex mr-2" style="text-transform: none" data-toggle="modal" data-target="#{{ modal }}">
    <span aria-hidden="true" class="material-icons-sharp mr-2">event</span>
    <span class="my-auto">{{ 'Add to Calendar'|t }}</span>
  </button>

  {# Modal #}
  <div id="{{ modal }}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="{{ modal }}-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header px-0 mx-3">
          <div>
            <h2 class="h5 modal-title mt-1 mb-2" id="{{ modal }}-label">{{ 'Add Event to Calendar'|t }}</h2>
            <p class="mb-0">{{ title }}</p>
            <p> 
              {% if next_event_label %}
                <strong>{{ next_event_label }}</strong>
              {% endif %}
              {{ formatted_date }} 
            </p>
          </div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p class="mb-3">{{ 'Select your calendar type below:'|t }}</p>
          <div class="text-center">
          {% for calendar_type,name in calendar_types %}
            {% set link = calendar_link(calendar_type, title, date(start_date), date(end_date), all_day, description, location) %}
            <a class="btn btn-hollow-primary btn-block calendar-link-{{ calendar_type }}" target="_blank" href="{{ link }}" role="button">{{ name }}</a>
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
