{#
/**
 * @file
 * Template for the Trellis Opportunity Importer view.
 *
 * Overrides views-view.html.twig to place the result summary (header)
 * between the exposed filters and the results table.
 */
#}
{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title }}
  {{ title_suffix }}

  {{ exposed }}

  {% if header %}
    <div class="view-header">
      {{ header }}
    </div>
  {% endif %}

  {{ attachment_before }}

  {% if rows -%}
    {{ rows }}
  {% elseif empty -%}
    {{ empty }}
  {% endif %}

  {{ pager }}
  {{ attachment_after }}
  {{ more }}

  {% if footer %}
    <footer>
      {{ footer }}
    </footer>
  {% endif %}

  {{ feed_icons }}
</div>
