{#
/**
 * @file
 * Theme implementation to display an AZ Stat.
 *
 * Available variables:
 * - attributes: Stat element attributes.
 * - media: The media field of a stat.
 * - stat_heading: The title field of a stat.
 * - stat_description: The body field of a stat.
 * - stat_source: The source field on a stat.
 * - text_color_override: Overriding default h1-h6 default text colors.
 * - stat_style: Bold or thin style. If we're using Thin style set from the paragraph, use less bolder headings.
 * - link_url: The link URL only.
 * @ingroup themeable
 */

#}
{% set attributes = attributes.addClass('h-100', 'az-stat-responsive', 'shadow', 'border-0', 'overflow-hidden') %}
<div{{ attributes }}>
  {% if media %}
    <div class="position-relative overflow-hidden h-100">
      {{ media }}
    </div>
  {% else %}
    <div class="card-body d-flex flex-column h-100">
      <div class="card-text d-flex flex-column flex-grow-1">
        <div class="stat-content">
          {% if stat_heading %}
            {% if stat_style == "card stat-thin" %}
              <h3 class="display-4 m-0 {% if text_color_override %}{{ text_color_override }}{% endif %}">
                <strong>{{ stat_heading }}</strong>
              </h3>
            {% else %}
              <h1 class="fw-bolder display-4 m-0 {% if text_color_override %}{{ text_color_override }}{% endif %}">
                <strong>{{ stat_heading }}</strong>
              </h1>
            {% endif %}
          {% endif %}
          {% if stat_description %}
            <h4 class="m-0 stat-description {% if text_color_override %}{{ text_color_override }}{% endif %}">{{ stat_description }}</h4>
          {% endif %}
        </div>
        {% if stat_source %}
          <div class="mt-auto pt-5 stat-source {% if text_color_override %}{{ text_color_override }}{% endif %}">
            {{ stat_source|nl2br }}
          </div>
        {% endif %}
      </div>
      {% if link_url %}
        <a href="{{ link_url }}" class="stretched-link"></a>
      {% endif %}
    </div>
  {% endif %}
</div>
